%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Description:
  = @event.description
%p
  %b Startrange:
  = @event.startRange
%p
  %b Endrange:
  = @event.endRange

%div#locuLocations
%div#currentLocation

= render :partial => "shared/locu_templates"
